.text{
  width: 600px;
  margin: 100px auto 0;
  color: var(--color-yellow);
  font-size: var(--font-size-title);
  text-shadow: 0 0 2px var(--color-white);
  text-align: center;
  -webkit-text-stroke-color: var(--color-black);
  -webkit-text-stroke-width: .5px;
  -webkit-text-fill-color: transparent;
}