.h1{
  text-align: center;
  font-size: 9em;
  line-height: 1.3em;
  margin: -6rem 0 0.5rem 0;
  padding: 0;
  text-shadow: 0 0 1rem #fefefe;
  color: #f5f6fa;
}
.img{
  max-width: 400px;
  height: auto;
  margin: 4em auto 0;
}
.info{
  color: #f5f6fa;
  text-align: center;
  font-size: var(--font-size-subtitle);
  margin: 0;
}