:root{
  --color-main-bg: #fbfbfb;
  --color-black: #1a1818;
  --color-dark-white: #fff;

  --border-radius-small: 10px;

  --spacing-medium: 20px;

  --font-famaly-main: sans-serif;
  --font-size-title: 26px;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--color-main-bg);
  font-family: var(--font-famaly-main);
}
