:root{
  --color-black: #000;
  --color-white: #fff;
  --color-disbled: #b9b9b9;
  --color-lightgray: #dfe2df;
  --color-blue: #6a83fb;

  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-famaly-main: sans-serif;
}

*, *:after, *:before{
  box-sizing: border-box;
}

img{
  display: block;
}